.container {
  margin-top: 50px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wordsContainer {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: auto; */
  
}

.word{
  font-size: 3em;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(27, 122, 122);
}

.lettersContainer{
  width: 600px;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 600px; */
}

.letter {
  margin: 3px;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: rgb(247, 117, 30);
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  color: azure;
}

.imagePendu{
  display: flex;
  justify-content: center;
  align-items: center;
}

.messageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.messageContainer p{
  font-size: 3em;
  font-family: cursive;
  font-weight: 800;
}

.messageWinner{
  color: green;
}

.messageLooser {
  color: red;
}

.rejouer {
  padding: 10px 40px;
  font-size: medium;
  font-family: cursive;
  background-color: lightskyblue;
  color: aliceblue;
}